﻿@model Travel2.Models.Book
   
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
@*
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Favicons -->
  <link href="~/images/wanderlust (1).png" rel="icon">
  <link href="~/images/wanderlust (1).png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="~/css/variables.css" rel="stylesheet">
  <link href="~/css/main.css" rel="stylesheet">

</head>*@

<body>

  <!-- ======= Header ======= -->
 @* <header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img src="~/images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="./index.html">Home</a></li>
          <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="./bikeTours.html">Bike tours</a></li>
              <li><a href="./centralAsiaTours.html">Central Asia tours</a></li>
              <li><a href="./houseBackTours.html">Horseback tours</a></li>
              <li><a href="./oneDayTours.html">One day tours</a></li>
              <li><a href="./trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
            </ul>
          </li>
          <li><a href="./blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Kyrgyzstan</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="Home/AboutKyrgyzstan">About Kyrgyzstan</a></li>
              <li><a href="./sights.html">Sights</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
          <li><a class="nav-link scrollto" href="aboutKyrgyzstan.html">About us</a></li>
          <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
           @if (User.IsInRole("admin"))
                {
                    <li><a asp-area="" asp-controller="Admin" asp-action="Display">Display</a></li>
                }
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    <li><a href="/UserAuthentication/Logout">Logout</a></li>
                }
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->*@


  <main id="main">

      <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">
                <div class="section-header">
                    <h2>Book tour</h2>
                </div>
            </div>

            <div class="container">
                <div class="row gy-5 gx-lg-5">
                    <div class="col-lg-4">
                        <div class="info">
                            <h3>Wanderlust</h3>

                            <div class="info-item d-flex">
                                <i class="bi bi-geo-alt flex-shrink-0"></i>
                                <div>
                                    <h4>Location:</h4>
                                    <p>Chyngyz Aitmatov Campus (Djal), Bishkek, Kyrgyz Republic</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-envelope flex-shrink-0"></i>
                                <div>
                                    <h4>Email:</h4>
                                    <p>kanysh150@gmail.com</p>
                                </div>
                            </div><!-- End Info Item -->

                            <div class="info-item d-flex">
                                <i class="bi bi-phone flex-shrink-0"></i>
                                <div>
                                    <h4>Call:</h4>
                                    <p>+996 777 22 12 01</p>
                                </div>
                            </div><!-- End Info Item -->

                        </div>

                    </div>

                    <div class="col-lg-8">
                        <form method="post" action="Add" class="email-form">
                            <div class="row">
                                <div class="form-group mt-3">
                                    <input type="text" class="form-control" name="TypeOfTour" id="subject"
                                         placeholder="Tour name" required  asp-for="TypeOfTour">
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="text" name="UserName" class="form-control" id="name"
                                        placeholder="Your Name" required asp-for="UserName">
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="Usermail" id="email"
                                        placeholder="Your Email" required asp-for="Usermail">
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="PhoneNumber" id="subject"
                                    placeholder="Phone number" required asp-for="PhoneNumber">
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="Message" placeholder="Message" required asp-for="Message"></textarea>
                            </div>
                            <div class="form-group mt-3">
                                    <input type="date" class="form-control" name="DateOfTour" id="subject"
                                         placeholder="Date of tour" required  asp-for="DateOfTour">
                                </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                        @if (TempData["Success"] != null)
{
                    <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}

                    </div><!-- End Contact Form -->

                </div>

            </div>
        </section><!-- End Contact Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
@*  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="~/images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <p>
              Wanderlust<br><br>
              <strong>Phone:</strong> +996 777 22 12 02<br>
              <strong>Email:</strong> kanysh150@gmail.com<br>
            </p>
          </div>



          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/___karataeva/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09" class="google-plus"><i
                  class="bi bi-telegram"></i></a>
              <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->*@

@*  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>*@
@*
  <!-- Vendor JS Files -->
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/aos/aos.js"></script>
  <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/vendor/email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>*@

</body>

</html>
@*<form method="post" action="Add">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="UserName">
    <label for="" class="form-label">Email</label>
    <input type="email" class="form-control" asp-for="Usermail">
    <label for="" class="form-label">Phone number</label>
    <input type="text" class="form-control" asp-for="PhoneNumber">
    <label for="" class="form-label">Tour name</label>
    <input type="text" class="form-control" asp-for="TypeOfTour">
    <label for="" class="form-label">Message</label>
    <input type="text" class="form-control" asp-for="Message">
    <label for="" class="form-label">Date</label>
    <input type="date" class="form-control" asp-for="DateOfTour">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if (TempData["Success"] != null)
{
 <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
}*@
<