﻿@model IEnumerable<Travel2.Models.Tour>
@{
	ViewData["Title"] = "Dashboard";
}
<h1>Index</h1>
<p>
	<a asp-action="Book">Book</a>
</p>
<table class ="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Usermail)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</th><
				th>
				@Html.DisplayNameFor(model => model.TypeOfTour)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DateOfTour)
			</th>
		</tr>
	</thead>
	    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width=40%>
                    @obj.UserName
                </td>
                <td width=20%>
                    @obj.Usermail
                </td>
                <td width=20%>
                    @obj.PhoneNumber
                </td>
                <td width=20%>
                    @obj.TypeOfTour
                </td>
                <td width=20%>
                    @obj.DateOfTour
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"
                        class="btn  btn-primary mx-3"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                    </td>
                    <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"
                        class="btn  btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>