﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust - Kyrgyzstan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/wanderlust (1).png" rel="icon">
  <link href="images/wanderlust (1).png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

  <!-- ======= Header ======= -->
@*  <header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Home</a></li>
          <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="bikeTours.html">Bike tours</a></li>
              <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
              <li><a href="houseBackTours.html">Horseback tours</a></li>
              <li><a href="oneDayTours.html">One day tours</a></li>
              <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
              <li><a href="sights.html">Sights</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
          <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
          <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->*@

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
      data-aos="zoom-out">
      <img src="~/images/kyrgyzstan5.jpg" class="img-fluid animated">
      <h2>Kyrgyzstan – <span>Land of adventure!</span></h2>
      <p>Kyrgyzstan is a beautiful mountain country in Central Asia. </p>
      <div class="d-flex">
        <a href="videos/wanderlust_.MP4" class="glightbox btn-watch-video d-flex align-items-center"><i
            class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>
  

  <main id="main">


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
      
              <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
      
                <div class="col-lg-5">
                  <div class="about-img">
                    <img src="~/images/kyrgyzstan1.jpg" class="img-fluid" alt="">
                  </div>
                </div>
      
                <div class="col-lg-7">
                  <!-- Tabs -->
                  <ul class="nav nav-pills mb-3">
                    <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1"></a></li>
                  </ul><!-- End Tabs -->
      
                  <!-- Tab Content -->
                  <div class="tab-content">
      
                    <div class="tab-pane fade show active" id="tab1">
      
                      <p class="fst-italic">The Kyrgyz Republic – formal name of the country, situated at the heart of the Central Asia. Kyrgyzstan tourism became very popular recently. Our mountainous country bordered by Kazakhstan on the north, Uzbekistan on the west and southwest, Tajikistan on the southwest, China on the east. Kyrgyzstan is sometimes misspelled as Kirgizistan, Kirghizia. Kyrgyzstan capital is Bishkek town, the largest city of the country. Kyrgyz derivate from Turkic work “kyrk” – forty, litteral translation – “we are forty”. Manas epic told the story of joining 40 kyrgyz tribes by main hero Manas.</p>
                      <p class="fst-italic">Kyrgyzstan is popular by Kyrgyzstan mountains, Kyrgyzstan ranges – Celestial Mountains – The Tien-Shan.  Kyrgyzstan tourism is developing very fast in last decade, that is due to the rich natural and cultural heritage, historical crossroad on the path of the Great Silk Road and Soviet Union period of the country. UNESCO/UNWTO Silk Road Heritage Corridor – Chang’an-Tien-Shan was passing by the territory of the Kyrgyz Republic.  Kyrgyzstan having more than 80 ethnics –  it is a mosaic and country of interest in wide spheres of life. Kyrgyzstan travel could be interesting outcome from the variety of destinations. Kyrgyzstan accept visa free regime. Time in Kyrgyzstan moves very fast, different places, people, scenery, nature.</p>
                    </div><!-- End Tab 1 Content -->
                  </div>
                </div>
              </div>
            </div>
          </section><!-- End About Section -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>About Kyrgyzstan</h2>
          </div>
  
          <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
  
            <div class="col-lg-5">
              <div class="about-img">
                <img src="~/images/kyrgyzstan2.jpg" class="img-fluid" alt="">
              </div>
            </div>
  
            <div class="col-lg-7">
  
              <!-- Tabs -->
              <ul class="nav nav-pills mb-6">
                <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">History</a></li>
                <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Population</a></li>
                <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Capital</a></li>
                <li><a class="nav-link" data-bs-toggle="pill" href="#tab4">Language</a></li>
                <li><a class="nav-link" data-bs-toggle="pill" href="#tab5">Religion</a></li>
                <li><a class="nav-link" data-bs-toggle="pill" href="#tab6">Currency</a></li>
              </ul><!-- End Tabs -->
  
              <!-- Tab Content -->
              <div class="tab-content">
  
                <div class="tab-pane fade show active" id="tab1">

                    <p class="fst-italic">Kyrgyz has history of more than 2000 years. The modern territory of the country was geographically isolated by high mountains, that helped to keep its ancient culture of nomads. Scythians (Scyth, Saka) were the first inhabitants of the modern territory of Kyrgyzstan.</p>
              </div><!-- End Tab 1 Content -->
  
                <div class="tab-pane fade show" id="tab2">
  
                  <p class="fst-italic">Population of the Kyrgyz Republic is about 6,200,000. This population is equivalent to 0.08% total world population and ranks number 111 in the list of countries by population. The population density in Kyrgyzstan is 32 per km2.</p>
                  <p class="fst-italic">Total land area is 191,800 km2. 35,6% of population is urban. The median age in Kyrgyzstan is 25,5 years. The largest ethnic group is Kyrgyz – 73,3%.  Other big ethnic groups are Uzbek – 14,7%, Russian – 5,5%, others – 6,4%.  There are over 80 ethnicities in Kyrgyzstan – Dungans, Uygurs, Tajiks, Kazakh, Ukrainians, Kurds and Germans, etc.  During the Soviet times, Russian also took the majority of nationalities in Kyrgyzstan, in 1959 Russian kept more than 30% of the population.  After Independence most of the ethnic Russian moved to Russia. Most of the Tajik and Uzbek minorities located at the Southern part of the Kyrgyzstan, because during the USSR, there was no strict borders and neighboring country citizens can move slightly on the border areas. Dungans – Chinese Muslims and Uygurs mostly moved up from Chinese side and mostly settled down in Issyk-Kul, Naryn and Chuy regions. Multinational population of Kyrgyzstan is a richness of the country, with different cultures, languages, confession and background, nevertheless today they are united in one country, being the smalt of the mosaic.</p>
  
                </div><!-- End Tab 2 Content -->
  
                <div class="tab-pane fade show" id="tab3">
                  <p>Bishkek is the capital of the Kyrgyz Republic. Its political, economic and cultural center. Bishkek located at Chuy region, at the slopes of the Kyrgyz Range, at about 700-900 meters above sea level, 25 km near to the Kazakh Border. Bishkek to Almaty takes 250 km, 3 hours of driving. Total territory of the town is 127 km2, territory with nearby villages and areas is about 200 km2.  Total population of the town is about 1,000,000 people.</p>
  
                </div><!-- End Tab 3 Content -->

                <div class="tab-pane fade show" id="tab4">
                    <p>Bishkek is the capital of the Kyrgyz Republic. Its political, economic and cultural center. Bishkek located at Chuy region, at the slopes of the Kyrgyz Range, at about 700-900 meters above sea level, 25 km near to the Kazakh Border. Bishkek to Almaty takes 250 km, 3 hours of driving. Total territory of the town is 127 km2, territory with nearby villages and areas is about 200 km2.  Total population of the town is about 1,000,000 people.</p>
    
                </div><!-- End Tab 4 Content -->
                <div class="tab-pane fade show" id="tab5">
                    <p>Islam is a dominant religion of the Kyrgyzstan – about 80% – non-denominational Muslims, 17% followers of Russian Orthodoxy, 3% other religions. During the Soviet time the strong believe in atheism was greeted. Strong believe of nomads – Tengrizm- characterised by shamanism, totemism and ancestors worship was popular among the people. Tengri – is an eternal blue sky, heaven and holy spirit of the sky, Father kept people from disasters and kept people alive. Umai Ene – is a Mother – goodness of fertility. That kind of thoughts and believes helped people to live in severe climate and geographical conditions to stay alive and kept up for centuries. Till these days small part of this cult used in everyday life, keep up from the bed eye with the smoke of a juniper and bowl of the clean water. That is another big world of Kyrgyz believes.</p>
                </div><!-- End Tab 5 Content -->
                
                <div class="tab-pane fade show" id="tab6">
                    <p>The Kyrgyz Som (KGS) is an official national currency. It divides into 100 tyiyn (coins). Banknotes are in denomination 20, 50,100,200,500,1000,2000,5000. Coins are in denomination of 1,3,5 and 10 soms. The 1 som is the smallest unit of the national currency. Every banknote bill had a features of famous people portraits, main geographical and heritage sites, architects and musical instruments. Kyrgyzstan is mostly cash based- economy. But now possible to find in ever town and big village ATM Machines with possibility to withdraw from VisaCard, MasterCard, etc. Banks and exchange offices could be founs in every town and village. National Bank officially fixed the exchanges rates. </p>
    
                  </div><!-- End Tab 6 Content -->
              </div>
  
            </div>
  
          </div>
  
        </div>
      </section><!-- End About Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
        </div>

      </div>

      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3073998.439974555!2d72.49602369245264!3d41.201028731098866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3897381dfce927f3%3A0x281058b74e88c433!2z0JrRi9GA0LPRi9C30YHRgtCw0L0!5e0!3m2!1sru!2skg!4v1672260593064!5m2!1sru!2skg"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 @* <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="~/images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <p>
              Wanderlust<br><br>
              <strong>Phone:</strong> +996 777 22 12 02<br>
              <strong>Email:</strong> kanysh150@gmail.com<br>
            </p>
          </div>



          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/___karataeva/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09" class="google-plus"><i
                  class="bi bi-telegram"></i></a>
              <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>*@
@*
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>*@

</body>

</html>
