﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/wanderlust (1).png" rel="icon">
  <link href="images/wanderlust (1).png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

 <!-- ======= Header ======= -->
@* <header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
  <div class="container-fluid d-flex align-items-center justify-content-between">
    <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
      <img src="./images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="./index.html">Home</a></li>
        <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="./bikeTours.html">Bike tours</a></li>
            <li><a href="./centralAsiaTours.html">Central Asia tours</a></li>
            <li><a href="./houseBackTours.html">Horseback tours</a></li>
            <li><a href="./oneDayTours.html">One day tours</a></li>
            <li><a href="./trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
          </ul>
        </li>
        <li><a href="./blog.html">Blog</a></li>
        <li class="dropdown"><a href="#"><span>Kyrgyzstan</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="./aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
            <li><a href="./sights.html">Sights</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
        <li><a class="nav-link scrollto" href="aboutKyrgyzstan.html">About us</a></li>
        <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->*@

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Blog</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row gy-2">

          <div class="col-lg-12">

            <div class="row gy-4 posts-list">

              <div class="col-lg-4">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="~/images/blog1.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href="blog-details.html">Travelife Partner sustainability award for Wanderlust</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">Kanykei</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-11-01">Nov 1, 2022</time></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      The Travelife Partner award was received today by Wanderlust, Kyrgyzstan.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Read More</a>
                  </div>

                </article>
              </div><!-- End post list item -->

              <div class="col-lg-4">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="~/images/blog2.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href="blog-details.html">COVID-19 and the way to “the new normality”</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">Kanykei</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-09-21">Sep 21, 2022</time></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">20 Comments</a></li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      All over the world people struggling with COVID-19 and Kyrgyzstan challenging all its impact on tourism.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Read More</a>
                  </div>

                </article>
              </div><!-- End post list item -->

              <div class="col-lg-4">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="~/images/blog3.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href="blog-details.html">Geography and climate of the Kyrgyz Republic</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">Karataeva</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-08-10">Aug 10, 2022</time></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">9 Comments</a></li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      The Kyrgyz Republic is located in the northeast of Central Asia in the center of the Eurasian continent.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Read More</a>
                  </div>

                </article>
              </div><!-- End post list item -->

              <div class="col-lg-4">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="~/images/blog4.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href="blog-details.html">The Kyrgyz Republic is located in the northeast of Central Asia in the center of the Eurasian continent.</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">Altynova</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2021-03-21">Apr 21, 2021</time></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">32 Comments</a></li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      Interviewing Aisha Mambetalieva is similar to wearing a Virtual Reality headset and going on a virtual tour around the highlands of Kyrgyzstan.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Read More</a>
                  </div>

                </article>
              </div><!-- End post list item -->

              <div class="col-lg-4">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="~/images/blog5.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href="blog-details.html">Wildlife photography expedition in the Tien-Shan mountains.</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">Ali</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-01-01">Jan 1, 2022</time></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      Summer 2020 has been nothing if not unusual. No one expected summer 2020 to be the most stressful and alarming year in recent memory due to the COVID-19 epidemic.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Read More</a>
                  </div>

                </article>
              </div><!-- End post list item -->

              <div class="col-lg-4">
                <article class="d-flex flex-column">

                  <div class="post-img">
                    <img src="~/images/blog6.jpg" alt="" class="img-fluid">
                  </div>

                  <h2 class="title">
                    <a href="blog-details.html">Kyrgyz handicrafts: Shyrdak and Ala-Kiyiz</a>
                  </h2>

                  <div class="meta-top">
                    <ul>
                      <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="blog-details.html"><time datetime="2022-02-01">Feb 1, 2022</time></a></li>
                      <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="blog-details.html">12 Comments</a></li>
                    </ul>
                  </div>

                  <div class="content">
                    <p>
                      Kyrgyz an ancient people and have always been involved in cattle breeding.
                    </p>
                  </div>

                  <div class="read-more mt-auto align-self-end">
                    <a href="blog-details.html">Read More</a>
                  </div>

                </article>
              </div><!-- End post list item -->

            </div><!-- End blog posts list -->

            <div class="blog-pagination">
              <ul class="justify-content-center">
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
              </ul>
            </div><!-- End blog pagination -->

          </div>

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

 <!-- ======= Footer ======= -->
@* <footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
              <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
            </a>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <p>
            Wanderlust<br><br>
            <strong>Phone:</strong> +996 777 22 12 02<br>
            <strong>Email:</strong> kanysh150@gmail.com<br>
          </p>
        </div>



        <div class="col-lg-4 col-md-6 footer-newsletter">
          <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/___karataeva/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09" class="google-plus"><i
                class="bi bi-telegram"></i></a>
            <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>


</footer><!-- End Footer -->*@
@*
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
*@
</body>

</html>
