﻿@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
@*
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust - Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">



  <!-- Favicons -->
  <link href="~/images/wanderlust (1).png" rel="icon">
  <link href="~/images/wanderlust (1).png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="~/css/variables.css" rel="stylesheet">
  <link href="~/css/main.css" rel="stylesheet">

</head>*@

<body>

  <!-- ======= Header ======= -->
 @* <header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img src="~/images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="./index.html">Home</a></li>
          <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="./bikeTours.html">Bike tours</a></li>
              <li><a href="./centralAsiaTours.html">Central Asia tours</a></li>
              <li><a href="./houseBackTours.html">Horseback tours</a></li>
              <li><a href="./oneDayTours.html">One day tours</a></li>
              <li><a href="./trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
            </ul>
          </li>
          <li><a href="./blog.html">Blog</a></li>
          <li class="dropdown"><a href="#"><span>Kyrgyzstan</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="Home/AboutKyrgyzstan">About Kyrgyzstan</a></li>
              <li><a href="./sights.html">Sights</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
          <li><a class="nav-link scrollto" href="aboutKyrgyzstan.html">About us</a></li>
          <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
           @if (User.IsInRole("admin"))
                {
                    <li><a asp-area="" asp-controller="Admin" asp-action="Display">Display</a></li>
                }
                @if (!string.IsNullOrEmpty(User.Identity.Name))
                {
                    <li><a href="/UserAuthentication/Logout">Logout</a></li>
                }
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->*@

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
      data-aos="zoom-out">
      <img src="~/images/carousel1.jpg" class="img-fluid animated">
      <h2>Kyrgyzstan – <span>Land of adventure!</span></h2>
      <p>Kyrgyzstan is a beautiful mountain country in Central Asia. </p>
      <div class="d-flex">
        <a href="~/videos/wanderlust_.MP4" class="glightbox btn-watch-video d-flex align-items-center"><i
            class="bi bi-play-circle"></i><span>Watch Video</span></a>
      </div>
    </div>
  </section>

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container">

        <div class="row gy-4">
          <div class="section-header">
            <h2>Sights</h2>
          </div>
          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/Saimaluu-Tash.jpg" class="img-fluid" alt="">
              </div>
              <h4><a  asp-area="" asp-controller="Sights" asp-action="SaimaluuTash">Saimaluu-Tash</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/batken.jpg" class="img-fluid" alt="">
              </div>
              <h4><a asp-area="" asp-controller="Sights" asp-action="Batken">Batken</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/jalalabad.jpg" class="img-fluid" alt="">
              </div>
              <h4><a asp-area="" asp-controller="Sights" asp-action="Jalalabad" class="stretched-link">Jalal-Abad</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/yssyk-kul.jpg" class="img-fluid" alt="">
              </div>
              <h4><a asp-area="" asp-controller="Sights" asp-action="Issykkol" class="stretched-link">Issyk-Kul Lake</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/songKolLake.jpg" class="img-fluid" alt="">
              </div>
              <h4><a asp-area="" asp-controller="Sights" asp-action="Songkol" class="stretched-link">Song Kol Lake</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/tashRabat.jpg" class="img-fluid" alt="">
              </div>
              <h4><a asp-area="" asp-controller="Sights" asp-action="Tashrabat" class="stretched-link">Tash Rabat Caravanserai</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/osh.jpg" class="img-fluid" alt="">
              </div>
              <h4><a asp-area="" asp-controller="Sights" asp-action="Osh">Osh</a></h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="zoom-out">
            <div class="service-item position-relative">
              <div class="img">
                <img src="~/images/kelSuu.jpg" class="img-fluid" alt="">
              </div>
              <h4><a asp-area="" asp-controller="Sights" asp-action="Kelsuu" class="stretched-link">Lake Kel-Suu</a></h4>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Tour type</h2>
        </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="service-item">
              <div class="img">
                <img src="~/images/bike1.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-bicycle"></i>
                </div>
                <a hasp-area="" asp-controller="Home" asp-action="BikeTours" class="stretched-link">
                  <h3>Bike tours</h3>
                </a>
                <p>Do you know that Kyrgyzstan is the country with the most preserved nature in CA? That there are high
                  peaks up to 7 400m above sea level and massive mountain range Tien-Shan.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="~/images/trekking.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-arrow-up-right"></i>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Trekking" class="stretched-link">
                  <h3>Trekking in Kyrgyzstan</h3>
                </a>
                <p>Kyrgyzstan is the perfect land for trekking. It is located in conjunction with the two largest and
                  highest mountain ranges – Pamir and Tien Shan. </p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <div class="service-item">
              <div class="img">
                <img src="~/images/oneDayTours.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <div class="icon">
                  <i class="bi bi-calendar-day"></i>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="OneDayTours" class="stretched-link">
                  <h3>One day tours</h3>
                </a>
                <p>Travelling can be an experience even if you are travelling one day. You can start your way from
                  Bishkek and return in the evening to Bishkek.</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <a asp-area="" asp-controller="Dashboard" asp-action="Add" class="email-form">
        <div class="text-center"><button type="submit">Book tour</button></div>
      </a>
    </section><!-- End Contact Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="~/images/wanderlust (1).png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">Wanderlust-book your fondest memories here</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Our Mission Statement</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Our Story</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">Our Values</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">We are a team of local tourism experts with complementary skills in culture and
                  adventure tourism. We collaborate with communities around the region to create and implement unique,
                  customized tour products. This enables our guests to have unforgettable, exciting, enriching,
                  immersive experiences while at the same time giving back through cross-cultural exchange, support for
                  the preservation of traditions and ecology, and enhancement of regional and global integration.</p>
              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <p class="fst-italic">Wanderlust is a travel company providing tours in Kyrgyzstan and Central Asia.

                  We began our venture into tourism 15 years ago. For over 10 years our work was devoted to Community
                  Based Tourism in Kyrgyzstan. During this time, we have developed from local tour guides to reliable
                  tourism professionals. Our experience and strong convictions give us an opportunity to make our tour
                  products diverse, authentic, and genuine experiences.

                  Growing up in the village, our days were full of joy and energy, our evenings spent listening to the
                  colorful world of Grandma’s stories and tales. We understand our people, nature, culture, and
                  lifetimes.

                  We believe you will enjoy your stay in Kyrgyzstan experiencing our new, multi-active and fascinating
                  tour-products, sharing our adventures.

                  Join us for an original and vivid experience!</p>

              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Subject-matter Expertise</h4>
                </div>
                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Eco-friendliness</h4>
                </div>
                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Sustainability</h4>

                </div>
                <p>Over the centuries Kyrgyz people have kept true to their nomadic culture. It has rich life experience
                  with honest values and understanding; keeping ancient beliefs, worshiping ancestors and nature. In
                  these days of globalization, we need to keep the best of our cultural, historical heritage and share
                  it.

                  We work with local tourism stakeholders first hand which gives local communities an opportunity to
                  benefit directly. We encourage long-lasting cooperation and sustainability.

                  Wanderlust is traditional Kyrgyz hospitality!

                  The miracles of nature and culture are waiting for you. Experience Kyrgyzstan with us and we will
                  provide you with authentic Kyrgyz hospitality!</p>

              </div><!-- End Tab 3 Content -->

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
@*  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="~/images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <p>
              Wanderlust<br><br>
              <strong>Phone:</strong> +996 777 22 12 02<br>
              <strong>Email:</strong> kanysh150@gmail.com<br>
            </p>
          </div>



          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/___karataeva/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09" class="google-plus"><i
                  class="bi bi-telegram"></i></a>
              <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->*@

@*  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>*@
@*
  <!-- Vendor JS Files -->
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/aos/aos.js"></script>
  <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/vendor/email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="~/js/main.js"></script>*@

</body>

</html>