﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Wanderlust - Osh</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="images/wanderlust (1).png" rel="icon">
    <link href="images/wanderlust (1).png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
</head>*@

<body>

    <!-- ======= Header ======= -->
    <@*header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="index.html">Home</a></li>
                    <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="bikeTours.html">Bike tours</a></li>
                            <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
                            <li><a href="houseBackTours.html">Horseback tours</a></li>
                            <li><a href="oneDayTours.html">One day tours</a></li>
                            <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
                            <li><a href="sights.html">Sights</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
                    <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
                    <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
                </ul>
            </nav><!-- .navbar -->
        </div>
    </header>*@<!-- End Header -->

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
            data-aos="zoom-out">
            <h2>Photo gallery</span></h2>

        </div>
    </section>

    <main id="main">
        <div class="container">
            <div class="portfolio-item row">
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/1.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/2.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/5.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/7.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/7.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/8.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/8.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/9.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/9.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/10.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/10.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/11.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/11.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/12.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/12.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/13.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/13.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/14.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/14.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/15.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/15.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/16.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/16.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/17.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/17.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/arslanbob.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/arslanbob.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/arslanbob1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/arslanbob1.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/batken.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/batken.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/batken1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/batken1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/bike1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/bike1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/bike3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/bike3.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/bike5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/bike5.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/bishkek.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/bishkek.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/bishkek1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/bishkek1.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/blog3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/blog3.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/blog4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/blog4.jpg" alt="">
                    </a>
                </div>
                <div class="item gts col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/blog5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/blog5.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/blog6.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/blog6.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/carousel1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/carousel1.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/carousel2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/carousel2.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/carousel3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/carousel3.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/carousel4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/carousel4.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/carousel5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/carousel5.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/centralAsiaTours.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/centralAsiaTours.jpg" alt="">
                    </a>
                </div>
                <div class="item lap col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/centralAsiaTours1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/centralAsiaTours1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/centralAsiaTours2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/centralAsiaTours2.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/horseBackTours.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/horseBackTours.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/horseBackTours1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/horseBackTours1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/horseBackTours2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/horseBackTours2.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-6 col-sm">
                    <a href="~/images/jalalabad.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/jalalabad.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/jalalabad1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/jalalabad1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/kelSuu.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/kelSuu.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/kelSuu2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/kelSuu2.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/kyrgyzstan.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/kyrgyzstan.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/kyrgyzstan1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/kyrgyzstan1.jpg" alt="">
                    </a>
                </div>


                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours8.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours8.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/kyrgyzstan3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/kyrgyzstan3.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/kyrgyzstan4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/kyrgyzstan4.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/kyrgyzstan5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/kyrgyzstan5.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours2.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours3.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours3.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours4.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours5.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours5.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours6.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours6.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/oneDayTours7.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/oneDayTours7.jpg" alt="">
                    </a>
                </div>



                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/osh.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/osh.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/osh1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/osh1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/Saimaluu-Tash2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/Saimaluu-Tash2.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/Saimaluu-Tash4.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/Saimaluu-Tash4.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/saryChelek.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/saryChelek.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/saryChelek1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/saryChelek1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/songKolLake.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/songKolLake.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/songKolLake1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/songKolLake1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/talas.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/talas.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/talas1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/talas1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/tashRabat.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/tashRabat.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/tashRabat1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/tashRabat1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/trekking1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/trekking1.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/trekking2.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/trekking2.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/yssyk-kul.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/yssyk-kul.jpg" alt="">
                    </a>
                </div>
                <div class="item selfie col-lg-3 col-md-4 col-sm-6 p-1">
                    <a href="~/images/yssyk-kul1.jpg" class="fancylight popup-btn" data-fancybox-group="light">
                        <img class="img-fluid" src="~/images/yssyk-kul1.jpg" alt="">
                    </a>
                </div>

            </div>
        </div>
    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    @*<footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <p>
                            Wanderlust<br><br>
                            <strong>Phone:</strong> +996 777 22 12 02<br>
                            <strong>Email:</strong> kanysh150@gmail.com<br>
                        </p>
                    </div>



                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/___karataeva/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09"
                                class="google-plus"><i class="bi bi-telegram"></i></a>
                            <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </footer>*@<!-- End Footer -->
@*
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>*@

</body>

</html>
