﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust - Trekking in Kyrgyzstan</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/wanderlust (1).png" rel="icon">
  <link href="images/wanderlust (1).png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/variables.css" rel="stylesheet">

  <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

  <!-- ======= Header ======= -->
@*  <header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Home</a></li>
          <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="bikeTours.html">Bike tours</a></li>
              <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
              <li><a href="houseBackTours.html">Horseback tours</a></li>
              <li><a href="oneDayTours.html">One day tours</a></li>
              <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
              <li><a href="sights.html">Sights</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
          <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
          <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->*@

  <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center"
    style=background: url(/images/trekking1.jpg);">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2>Trekking Kyrgyzstan</h2>
      <p>Create unforgettable memories with Trekking Kyrgyzstan in Kyrgyz</p>
    </div>
  </section>

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="~/images/trekking4.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1"></a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">Kyrgyzstan is the perfect land for trekking. It is located in conjunction with the two largest and highest mountain ranges – Pamir and Tien Shan. Many tourists consider these mountains as the most beautiful ones in the whole world!</p>
                <p class="fst-italic">There is a large variety of trekking Kyrgyzstan that differ by complexity and types. The tours are not limited by mountains only. For example, there may be horseback tours like Jailoo hiking “Lake Song-Kul” or trekking from Chui Valley to Issyk-Kul. During such ones, travelers will have visited natural parks (Chong-Kemin), lakes (Kol-Kogur, Issyk-Kul, etc), and so forth. It’s the best approach to unity with nature.</p>
                <p class="fst-italic">Kyrgyzstan trekking tours cost:
                    The cost of trekking Kyrgyzstan varies depending on the tour as their details, routes, and locations may differ a lot. Also, a customer has an opportunity to choose a group tour, or design a personal one according to their preferences. There are several most popular trekking tours worthy to look at.</p>
                <p class="fst-italic">Trekking from Jyrgalan village to Lake Alakol.
                    Probably the best 8-days tour for all the mountain lovers. Starting from the village of Jyrgalan, travelers will reveal all the beauty and charm of Lake Alakol mountain. Such a trip costs 80$ for a group tour and 100$ for an individual one. You will meet crystal-clear mountain lakes, amazing landscapes, and unforgettable memories.</p>
                <p class="fst-italic">Tour to Engilchek Base Camp via Merzbacher Lake
                    Another great 10-days tour costing 80$ for a group tour and 100$ for an individual tour. Amazing possibility to visit the Tengri land and high altitude pass. Incredible nature, camping, and adventures with the ending of reaching Khan Tengri and Victory Peaks. The breathtaking places where time stops.</p>
                <p class="fst-italic">Advantages of Trek in Kyrgyzstan Trekking is another level of tripping. It has numerous benefits that attract many travelers and is considered one of the best active holiday types.
                </p>
                <p class="fst-italic"><i class="bi bi-dot"></i>Nothing can reveal the beauty of such places as trekking. Check it out by yourself. See the untouched nature at arm’s length.</i></p>
                <p class="fst-italic"><i class="bi bi-dot"></i>Great adventures. Visit mountains and reach them, make a camp near mountain rivers and lakes. Get familiarized with real nomads. These memories will remain for all your life. Also, it’s a great way to make new friends.</p>
                <p class="fst-italic"><i class="bi bi-dot"></i>It doesn’t matter if you are an experienced traveler or want to try this activity for the first time – Kyrgyzstan can boast numerous finest and trusted routes making trekking an amazing and comfortable adventure.</p>
              </div><!-- End Tab 1 Content -->
            </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="~/images/trekking1.jpg  " class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <a asp-area="" asp-controller="Tour" asp-action="Trekking1" class="stretched-link">
                  <h3>Alay Heights</h3>
                </a> </div>
            </div>
          </div><!-- End Service Item -->
          
          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="~/images/trekking2.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <a hasp-area="" asp-controller="Tour" asp-action="Trekking2" class="stretched-link">
                  <h3>Jyrgalan village</h3>
                </a> </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="service-item">
              <div class="img">
                <img src="~/images/trekking3.jpg" class="img-fluid" alt="">
              </div>
              <div class="details position-relative">
                <a asp-area="" asp-controller="Tour" asp-action="Trekking3" class="stretched-link">
                  <h3>Enilchek</h3>
                </a> </div>
            </div>
          </div><!-- End Service Item -->


        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
@*  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <p>
              Wanderlust<br><br>
              <strong>Phone:</strong> +996 777 22 12 02<br>
              <strong>Email:</strong> kanysh150@gmail.com<br>
            </p>
          </div>



          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/___karataeva/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09" class="google-plus"><i
                  class="bi bi-telegram"></i></a>
              <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->*@
@*
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>*@

</body>

</html>
