﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust - Batken</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/wanderlust (1).png" rel="icon">
  <link href="images/wanderlust (1).png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

  <!-- ======= Header ======= -->
  @*<header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Home</a></li>
          <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="bikeTours.html">Bike tours</a></li>
              <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
              <li><a href="houseBackTours.html">Horseback tours</a></li>
              <li><a href="oneDayTours.html">One day tours</a></li>
              <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
              <li><a href="sights.html">Sights</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
          <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
          <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header>*@<!-- End Header -->

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
      data-aos="zoom-out">
      <img src="~/images/batken.jpg" class="img-fluid animated">
      <h2>Batken</span></h2>

    </div>
  </section>

  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="~/images/batken1.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">

            <!-- Tabs -->
            <ul class="nav nav-pills mb-6">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Exploring</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Where to Stay</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">What to See</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab4">How to Get Around</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">Batken town is a small town in the southwest of Kyrgyzstan, the capital of the 7th
                  youngest region of the country. The territory is situated among 2 neighboring counties of Uzbekistan
                  and Tajikistan. Strategically Batken region is not very well known in tourism. However, a great
                  potential kept in this old territory of Fergana valley.</p>

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <p class="fst-italic">In Batken town possible to stay at local guesthouses, started by local families.
                  Accommodation at local guesthouses and homestays started from 15 USD.
                  Possible to rent a flat if you plan to stay more nights. The price is about 30 USD.
                  You can bring your tent and camping gear and put it in a safe and cozy place in nature.</p>

              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <p class="fst-italic">The touristic potential of the area is huge both natural and historical.

                  Situated at the Fergana valley, Batken starting spring for Kyrgyzstan.

                  Beautiful spring season is started with flourishing Aigul flower. The endemic flower of Fritillaria
                  eduardii Regelscripted at Red Book of Kyrgyzstan in 1978. The approximate date of blooming is April.
                  The flower is endemic! The fee for picking up the flower is 30 USD.</p>
                <p class="fst-italic">“Orukzar” is a romantic place with apricot trees blooming period. White flowers of
                  apricot trees, Kyrgyz Sakuras charming all around. Batken apricots fresh and dry naturally in shadow
                  are famous eco-product from Kyrgyzstan</p>
                <p class="fst-italic">Nature Park Sarkent situated 141 km from Batken town. The territory of 141
                  hectares of wild nature.

                  Mountain range of Sary-Too, 18 km from Samarkandek village, the bottom of the ancient Sarmat sea, with
                  the finding of shells and fossils.</p>
                <p class="fst-italic">Kan-i-Gut Cave in 65 km from Batken. Cave length is 300 km, with winding corridors
                  of 150 m depth. In 10-11 centuries silver and other minerals have been actively mined here, but as
                  soon as the resources were exhausted, the deposit was empty and was forgotten. During the Kokand
                  Khanid period that was a prison and named “blood” cave. Locals believe in sacral and mysterious “place
                  of the force”.</p>

              </div><!-- End Tab 3 Content -->

              <div class="tab-pane fade show" id="tab4">

                <p class="fst-italic">Batken is the Eastern part of the country. From Bishkek possible to reach by
                  shared taxi. The road is long and takes about 18-20 hours. Price of the taxi started from 1500 soms
                  till 2000 soms per person per seat (appx.30 USD)</p>
                <p class="fst-italic">Batken Airport gets the regular internal flights from Bishkek 3 times in a week.
                  Please check the schedule on the official page of the airport. The price of the one-way ticket costs
                  started at 50 USD.</p>

              </div><!-- End Tab 4 Content -->

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
        </div>

      </div>

      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d741314.460383086!2d70.34004967534167!3d39.80147179154272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ba40173d13590b%3A0xa35d68d6d18e8885!2z0JHQsNGC0LrQtdC9!5e0!3m2!1sru!2skg!4v1672266210292!5m2!1sru!2skg"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 @* <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <p>
              Wanderlust<br><br>
              <strong>Phone:</strong> +996 777 22 12 02<br>
              <strong>Email:</strong> kanysh150@gmail.com<br>
            </p>
          </div>



          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/___karataeva/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09" class="google-plus"><i
                  class="bi bi-telegram"></i></a>
              <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>*@

@*  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>*@

</body>

</html>
