﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Wanderlust - Issyk-Kul Lake</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="images/wanderlust (1).png" rel="icon">
    <link href="images/wanderlust (1).png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

    <!-- ======= Header ======= -->
    @*<header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="index.html">Home</a></li>
                    <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="bikeTours.html">Bike tours</a></li>
                            <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
                            <li><a href="houseBackTours.html">Horseback tours</a></li>
                            <li><a href="oneDayTours.html">One day tours</a></li>
                            <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
                            <li><a href="sights.html">Sights</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
                    <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
                    <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
                </ul>
            </nav><!-- .navbar -->
        </div>
    </header>*@<!-- End Header -->

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
            data-aos="zoom-out">
            <img src="~/images/yssyk-kul1.jpg" class="img-fluid animated">
            <h2>Issyk-Kul</span></h2>

        </div>
    </section>

    <main id="main">


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                </div>

                <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="~/images/yssyk-kul.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7">

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-6">
                            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Exploring</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Where to Stay</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">What to See</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab4">How to Get Around</a></li>
                        </ul><!-- End Tabs -->

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="tab1">

                                <p class="fst-italic">Issyk-Kul Lake is the second largest mountain lake in the world at
                                    the altitude of 1,607 meters above sea level, depth of 668 meters asl. Lake is
                                    situated at the territory of the Issyk-Kul Biosphere Reserve. Issyk-Kul Lake is 182
                                    kilometers long and about 60 kilometers wide, with an area of 6,236 square
                                    kilometers.</p>
                                <p class="fst-italic">Issyk-Kol is translated as a “warm lake” from the Kyrgyz language.
                                    It is true that it never freezes. Lake is surrounded by snow-capped high mountain
                                    ranges – Kungoi Ala-Too (“sunny” slopes) on the North and Terskei Ala-Too (“shady”
                                    slopes) on the South part. These high mountain ranges give the lake mild
                                    microclimate year around. About 118 rivers and streams flow into the lake (Jyrgalan,
                                    Type and even mineral hot springs), and no rivers coming out. So that it gives
                                    healing creativeness for the waters and salinity of 0,6%. The biggest towns and
                                    villages around the Lake are Karakol, Cholpon-Ata, Balykchy, Bosteri, Kyzyl-Suu,
                                    Bokonbaevo.</p>

                            </div><!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">
                                <p class="fst-italic">From the Soviet times, all Issyk-Kul region was famous for
                                    sanatoriums with hot springs as Jyrgalan, Jety-Oguz, Ak-Suu, and others. Many of the
                                    vacation resorts situated at Cholpon-Ata town and nearest north shore villages.
                                    Today some of them work well mostly in summertime. Some of them belong to the
                                    government, some of them at the actives of trade unions. Privatized Resort Areas are
                                    good enough, with comfortable accommodation places, meals, and entertainment. Most
                                    of the private homes during the summer season became guesthouses and could be rented
                                    for the summer season for the different price ranges. Most of them now available to
                                    book by online platforms.</p>

                            </div><!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">
                                <p class="fst-italic">Eating and Drinking
                                    Most of the big towns and villages around the Lake have interesting places for
                                    eating out. Local cafes, restaurants, and home-based cafes are available. Possible
                                    to buy local fruits, vegetables and cook at the kitchen of guesthouses and
                                    homestays.</p>
                                <p class="fst-italic">There is a wide range of interesting sightseeing places around the
                                    Lake. Local ethnographical museums are available exactly in every big town and
                                    village. Famous Museums are Cholpon-Ata Museum, Przhewalsky Memorial Museum in
                                    Karakol, Stone Museum in Bokonbaevo, etc. Plenty of gorgeous exactly in every
                                    village goest to the slopes of Ala-Too Ranges as Grigorievsky, Semenovskiy,
                                    Jety-Oguz, Barskoon. Places with hot mineral spring exactly in every village of
                                    Issyk-Kul, making natural hot springs ring with Tamchy, Chok-Tal, Oruktu, Jyrgalan,
                                    Ak-Suu, Jety-Oguz, Saruu, Bar-Bulak villages.</p>

                            </div><!-- End Tab 3 Content -->

                            <div class="tab-pane fade show" id="tab4">

                                <p class="fst-italic">Good highway road around the Lake gives an opportunity for
                                    self-driving, biking and using public transport. Minibusses go from Western Bus
                                    Station in Bishkek by two routes Bishkek-Karakol-Bishkek by North shore, and
                                    Bishkek-Karakol-Bishkek by South shore. Shared taxies are also available.</p>

                            </div><!-- End Tab 4 Content -->

                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-header">
                </div>

            </div>

            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d753523.0981902913!2d76.69498610865577!3d42.46072555176895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3885ab108e4effa9%3A0x7621f668ba6d1c83!2z0JjRgdGB0YvQui3QmtGD0LvRjA!5e0!3m2!1sru!2skg!4v1672266700766!5m2!1sru!2skg"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                                <img src="~/images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <p>
                            Wanderlust<br><br>
                            <strong>Phone:</strong> +996 777 22 12 02<br>
                            <strong>Email:</strong> kanysh150@gmail.com<br>
                        </p>
                    </div>



                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/___karataeva/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09"
                                class="google-plus"><i class="bi bi-telegram"></i></a>
                            <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


   @* </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>*@

</body>

</html>