﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Wanderlust - Kel-Suu Lake</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="images/wanderlust (1).png" rel="icon">
    <link href="images/wanderlust (1).png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

    <!-- ======= Header ======= -->
    @*<header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="index.html">Home</a></li>
                    <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="bikeTours.html">Bike tours</a></li>
                            <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
                            <li><a href="houseBackTours.html">Horseback tours</a></li>
                            <li><a href="oneDayTours.html">One day tours</a></li>
                            <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
                            <li><a href="sights.html">Sights</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
                    <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
                    <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
                </ul>
            </nav><!-- .navbar -->
        </div>
    </header>*@<!-- End Header -->

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
            data-aos="zoom-out">
            <img src="~/images/kelSuu.jpg" class="img-fluid animated">
            <h2>Lake</span></h2>

        </div>
    </section>

    <main id="main">


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                </div>

                <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="~/images/kelSuu2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7">

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-6">
                            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Exploring</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Where to Stay</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">What to See</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab4">How to Get Around</a></li>
                        </ul><!-- End Tabs -->

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="tab1">

                                <p class="fst-italic">Lake Kel-Suu is considered one of the most beautiful mountain
                                    lakes in Kyrgyzstan. It was not well known only a few years ago, but it now attracts
                                    tourists from all over the world.</p>
                                <p class="fst-italic">The lake is located in the Naryn region, in the Ak-Sai Valley on
                                    the Chinese border. It sits on the headwaters of the Kurumduk River at an altitude
                                    of about 3600 meters above sea level. Acclimatizing to this altitude is important
                                    before embarking on a strenuous trekking adventure. The lake was formed by a strong
                                    earthquake, and to see all of it, you need to sail on a boat.</p>
                                <p class="fst-italic">The water in Kel-Suu is fresh and has a shade of greenish color.
                                    The length of the lake is 9 kilometers, and its width varies from 500 meters to 2
                                    kilometers at its widest point; the entire northern part is completely surrounded by
                                    high cliffs, limiting walking opportunities.</p>
                                <p class="fst-italic">Climatic conditions: Lake Kel-Suu sits on a cold mountain. The air
                                    temperature in the summer (mid-July to mid-August) is between 14-16 degrees Celsius
                                    in the daytime and sometimes below zero at night. Even in summer, snow sometimes
                                    falls.</p>

                            </div><!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">
                                <p class="fst-italic">There are three main options for accommodations at Lake Kel-Suu.
                                    The easiest is to stay with the shepherds at yurt camps, which are organized by
                                    local businesspersons for tourists. You can also rent horses from the shepherds.</p>
                                <p class="fst-italic">The second option is to book with an organized tour company and
                                    sleep in tent camps. Tour packages will vary and come in a range of costs.</p>
                                <p class="fst-italic">The third, and perhaps most difficult option, is to bring your own
                                    tents and camp by the lake. This can be risky since changing water levels can flood
                                    roads and make areas around the lake marshy. If you get stuck, you may have to turn
                                    to tour companies for help.</p>
                                <p class="fst-italic">Eating and Drinking. All yurt camps and campgrounds offer
                                    breakfast, lunch, and dinner. If you have any food preferences, it’s best to bring
                                    your food and drinks.</p>

                            </div><!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">
                                <p class="fst-italic">Lake Kel-Suu is one of the most beautiful alpine lakes of
                                    Kyrgyzstan. Meaning “incoming water” in Kyrgyz, Kel-Suu has the unusual feature of
                                    sometimes disappearing into underground caves and grottoes. Before going there, be
                                    sure to research its current water levels.</p>
                                <p class="fst-italic">No matter the state of the lake, the terrain is ideal for
                                    horseback riding, short hikes, and photo tours. The dam offers a beautiful view of
                                    the lake with its fantastic scenery—steep cliffs hundreds of meters high,
                                    waterfalls, rocky islands, bays, caves, and grottoes. The turquoise bowl of water is
                                    surrounded by sheer peaks, the tops of which are covered with snow even in the
                                    hottest summer.</p>
                                <p class="fst-italic">About two kilometers away, between the steep walls of the canyon,
                                    you can see a 50-meter-high rock-island dotted with grottoes, caves, and
                                    indentations. But to see the lake completely, you need to sail it to visit its many
                                    caves.</p>
                                <p class="fst-italic">The main cave has a narrow entrance and lurks in the rocks on the
                                    right side of the dam. First, you find yourself in a vast, high hall with an
                                    “altar,” and then the cave descends and divides into two narrow passages. There are
                                    no stalactites, although the walls of the lower corridors are covered with an
                                    interesting texture, similar to coral.</p>


                            </div><!-- End Tab 3 Content -->

                            <div class="tab-pane fade show" id="tab4">

                                <p class="fst-italic">The lake is very difficult to access. It is located on the remote
                                    Kokshaal-Too ridge, and getting there requires passing through the vast and swampy
                                    Ak-Sai valley. Such a journey requires fording rivers, which only specialized
                                    vehicles and experienced drivers can handle.</p>
                                <p class="fst-italic">The route: Bishkek – Naryn – Ak-Muz – Bosogo – Kynda – Ak-Sai –
                                    Kok-Kyya</p>
                                <p class="fst-italic">The road from Bishkek to the Kok-Kiya valley will take an average
                                    of 13-14 hours of driving. You can get there by passenger cars, but preferably on
                                    off-road vehicles, as the second part of the route is completely unpaved requires
                                    fording rivers. It’s best to travel with a group of 2-3 cars.</p>
                                <p class="fst-italic">Getting to the Ak-Sai Valley from the east through Kunda Pass is
                                    only possible 6 months of the year, as the pass is closed in winter due to snow and
                                    frost.</p>
                                <p class="fst-italic">The responsibility zone of the Kynda frontier post begins in the
                                    Kunda Pass. You will be twice stopped by border guards to check documents and
                                    permits (they must be received in advance—at least two weeks prior to visiting).
                                    You’ll need a photo, a copy of your passport, and an application obtained from the
                                    Border Guard Service in Bishkek.</p>
                            </div><!-- End Tab 4 Content -->

                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-header">
                </div>

            </div>

            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48422.84772911595!2d76.37786979945113!3d40.6645380335093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3891e396c6454235%3A0x28fe268802906e6a!2z0J7Qt9C10YDQviDQmtGR0LvRjC3QodGD0YM!5e0!3m2!1sru!2skg!4v1672269552563!5m2!1sru!2skg"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
 @*   <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <p>
                            Wanderlust<br><br>
                            <strong>Phone:</strong> +996 777 22 12 02<br>
                            <strong>Email:</strong> kanysh150@gmail.com<br>
                        </p>
                    </div>



                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/___karataeva/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09"
                                class="google-plus"><i class="bi bi-telegram"></i></a>
                            <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>*@

</body>

</html>