﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Wanderlust - Saimaluu-Tash</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="~/images/wanderlust (1).png" rel="icon">
  <link href="images/wanderlust (1).png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/css/variables.css" rel="stylesheet">
  <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

  <!-- ======= Header ======= -->
  @*<header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
    <div class="container-fluid d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
        <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="index.html">Home</a></li>
          <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="bikeTours.html">Bike tours</a></li>
              <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
              <li><a href="houseBackTours.html">Horseback tours</a></li>
              <li><a href="oneDayTours.html">One day tours</a></li>
              <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a></li>
          <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
              <li><a href="sights.html">Sights</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
          <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
          <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
        </ul>
      </nav><!-- .navbar -->
    </div>
  </header>*@<!-- End Header -->

  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
      data-aos="zoom-out">
      <img src="~/images/Saimaluu-Tash.jpg" class="img-fluid animated">
      <h2>Saimaluu-Tash, petroglyph.</span></h2>

    </div>
  </section>

  <main id="main">


    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Saimaluu-Tash</h2>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="~/images/Saimaluu-Tash1.jpg" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">

            <!-- Tabs -->
            <ul class="nav nav-pills mb-6">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Where to Stay</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Exploring the Area</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">How to Get Around.</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">The nearest large settlement is Kazarman town. There are many guesthouses and
                  homestays offering accommodations and meals. The town is located 18-20 km from Saimaluu Tash and for
                  the best explore the area we recommend having a tent camping in the wild to spend the one night in the
                  mountain valley Saimaluu Tash.</p>

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <p class="fst-italic">Saimaluu-Tash is the largest collection of petroglyphs in Central Asia and one of
                  the largest in the world, located on the eastern slope of the Ferghana Range in the Jalal-Abad region.
                  This territory is a national park.</p>
                <p class="fst-italic">The complex is located at an altitude of more than 3000 meters. Translated from
                  Kyrgyz, Saimaluu-Tash means “patterned stone”, which characterizes this place as well as possible. On
                  the territory of the complex, which consists of alpine meadows spread in the depths of the gorge, and
                  mighty basalt boulders, which are original canvases for images, there are more than 90,000 (!)
                  Drawings from different historical eras. The oldest images on the stones of Saimaluu Tasha date back
                  to the 3rd-1st millennia BC, and the latest are dated to the 1st-8th centuries AD. Here you can
                  clearly see how from time to time the ways of drawing and the specifics of the images themselves have
                  changed.</p>
                <p class="fst-italic">The theme of the drawings is very broad and reflects religious beliefs and ideas
                  about the world among ancient people. Here you can find images of wild and domestic animals, birds and
                  people, geometric symbols and signs, images of the faces of deities, as well as many indescribable
                  drawings.</p>
                <p class="fst-italic">The complex is accessible to visitors only in the summer since most of the year
                  petroglyphs lie under a layer of snow and are available for viewing only in July and August.</p>
                <p class="fst-italic">It was Saimaluu-Tash’s drawings that became one of the symbols of Kyrgyzstan. The
                  patterns and motifs of petroglyphs are present in the design of the World Nomad Games, as well as are
                  widely used in souvenir products, etc.</p>

              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">
                <p>Saimaluu-Tash is located in a remote mountainous area on the eastern slope of the Ferghana Range,
                  south of the large village of Kazarman. In order to get to Saimaluu-Tash, you need to turn south along
                  the road leading to Baetov (the turn is located 10 kilometers west of Kazarman) and get to the desired
                  turn. Climbing to Saimaluu Tash by car is not possible and will take about a day on foot. You can also
                  go there on horseback.</p>

              </div><!-- End Tab 3 Content -->

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
        </div>

      </div>

      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2133779.165491453!2d72.01111288826219!3d41.90264145766136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3897ec945d7b3ae3%3A0xf7931e7d09cae6ff!2z0KHQsNC50LzQsNC70YPRgyDQotCw0Yg!5e0!3m2!1sru!2skg!4v1672265196577!5m2!1sru!2skg"
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
          width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div><!-- End Google Maps -->

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  @*<footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
              </a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <p>
              Wanderlust<br><br>
              <strong>Phone:</strong> +996 777 22 12 02<br>
              <strong>Email:</strong> kanysh150@gmail.com<br>
            </p>
          </div>



          <div class="col-lg-4 col-md-6 footer-newsletter">
            <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                  class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/___karataeva/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09" class="google-plus"><i
                  class="bi bi-telegram"></i></a>
              <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>


  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>*@

  <!-- Vendor JS Files -->
@*  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>*@

</body>

</html>