﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Wanderlust - Song-Kol</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="images/wanderlust (1).png" rel="icon">
    <link href="images/wanderlust (1).png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

    <!-- ======= Header ======= -->
    <@*header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="index.html">Home</a></li>
                    <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="bikeTours.html">Bike tours</a></li>
                            <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
                            <li><a href="houseBackTours.html">Horseback tours</a></li>
                            <li><a href="oneDayTours.html">One day tours</a></li>
                            <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
                            <li><a href="sights.html">Sights</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
                    <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
                    <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
                </ul>
            </nav><!-- .navbar -->
        </div>
    </header>*@<!-- End Header -->

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
            data-aos="zoom-out">
            <img src="~/images/songKolLake.jpg" class="img-fluid animated">
            <h2>Song-Kol</span></h2>

        </div>
    </section>

    <main id="main">


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                </div>

                <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="~/images/songKolLake1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7">

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-6">
                            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Exploring</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Where to Stay</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">What to See</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab4">How to Get Around</a></li>
                        </ul><!-- End Tabs -->

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="tab1">

                                <p class="fst-italic">Song-Kol (also known as Sonkol, Song-Köl, and Son-Kul) is a large
                                    alpine lake, sandwiched in a hollow between the inner spurs of the Tien Shan in the
                                    Naryn region (Kyrgyzstan). Sitting at 3016 meters above sea level, the lake is
                                    surrounded by virgin pastures, a conservation area, and the ridges of Sonköltoo and
                                    Moldotoo, making it the perfect site for ecological tourism.</p>
                                <p class="fst-italic">The shores of the lake are low, swamped, and in some places
                                    overgrown with reeds. The lake is glacier-fed and drains into the Son-Kul river and
                                    eventually the Naryn river. Ice on the lake is common from late September to late
                                    May.</p>

                            </div><!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">
                                <p class="fst-italic">The nearest large settlement is Chaek town, but in the summer
                                    months, especially July through August, yurt camps built along the Song-Kol. Most of
                                    them offer hostel-type services for cheap and romantic visits.</p>
                                <p class="fst-italic">Eating and Drinking. At Song-Kol, you can order fresh meat
                                    prepared according to traditional recipes as well as dishes adapted at the request
                                    of tourists in yurt camps. Many people call Song-Kol Lake “the soul of Kyrgyzstan”
                                    because the water is pure and fresh. However, foreign tourists are advised not to
                                    drink water from streams or lakes without boiling it first.</p>

                            </div><!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">
                                <p class="fst-italic">The area is very popular for horseback tours from one to ten days,
                                    and many also like hiking through the Jumgal region, with overnight stays in yurts
                                    instead of tents.</p>
                                <p class="fst-italic">While trekking and taking a horseback tour, you’ll likely see a
                                    variety of animals, including varieties fish, such as peled and rare carp species,
                                    and waterfowl, such as the demoiselle crane, mountain goose, black stork, and
                                    black-headed giggle. The lake itself is a natural beauty, and its surface color
                                    changes several times a day, becoming either a saturated blue, then purple-blue, or
                                    lush green.</p>


                            </div><!-- End Tab 3 Content -->

                            <div class="tab-pane fade show" id="tab4">

                                <p class="fst-italic">Lake Song-Kol is just over 280 kilometers from Bishkek, the
                                    capital of Kyrgyzstan, and most travel from Bishkek will follow the Bishkek-Naryn
                                    highway. This road is generally in very good condition, but you will eventually need
                                    to leave the highway to go through Kalmak-Ashuu Pass, which is easily traversed by
                                    most vehicles in the summer. Alternatively, you could take Naryn Pass, Moldo-Bel
                                    pass, or Kara-Keche Pass.</p>
                                <p class="fst-italic">For lovers of active adventure routes, there are plenty of options
                                    for trekking or horseback riding tours to Song-Kol, including a 9-day horseback tour
                                    from of Shamshy called “Jailoo Hopping to Lake Song-Kol” and a 7-day tour from
                                    Suusamyr Valley. There are also many trips from the village of Kyzart in the Jumgal
                                    region to the valley during the summer.</p>
                            </div><!-- End Tab 4 Content -->

                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-header">
                </div>

            </div>

            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190233.09350795037!2d75.03262551069993!3d41.84138679439908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389a176a9911ddb3%3A0x317f9b05fc2574a1!2sOzero%20Sonkel&#39;!5e0!3m2!1sru!2skg!4v1672269139322!5m2!1sru!2skg"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
@*    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <p>
                            Wanderlust<br><br>
                            <strong>Phone:</strong> +996 777 22 12 02<br>
                            <strong>Email:</strong> kanysh150@gmail.com<br>
                        </p>
                    </div>



                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/___karataeva/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09"
                                class="google-plus"><i class="bi bi-telegram"></i></a>
                            <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>*@

</body>

</html>