﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

@*<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Wanderlust - Tash-Rabat</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="images/wanderlust (1).png" rel="icon">
    <link href="images/wanderlust (1).png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/css/variables.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

</head>*@

<body>

    <!-- ======= Header ======= -->
    @*<header id="header" class="header fixed-top" data-scrollto-offset="0" style="height: 100px;">
        <div class="container-fluid d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="index.html">Home</a></li>
                    <li class="dropdown"><a href="index.html#services"><span>Tours</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="bikeTours.html">Bike tours</a></li>
                            <li><a href="centralAsiaTours.html">Central Asia tours</a></li>
                            <li><a href="houseBackTours.html">Horseback tours</a></li>
                            <li><a href="oneDayTours.html">One day tours</a></li>
                            <li><a href="trekkingInKyrgyzstan.html">Trekking in Kyrgyzstan</a></li>
                        </ul>
                    </li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="dropdown"><a href=""><span>Kyrgyzstan</span> <i
                                class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="aboutKyrgyzstan.html">About Kyrgyzstan</a></li>
                            <li><a href="sights.html">Sights</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link scrollto" href="photoGallery.html">Photo gallery</a></li>
                    <li><a class="nav-link scrollto" href="aboutUs.html">About us</a></li>
                    <li><a href="#" class="login"><i class="bi bi-person-circle"></i></a></li>
                </ul>
            </nav><!-- .navbar -->
        </div>
    </header>*@<!-- End Header -->

    <section id="hero-animated" class="hero-animated d-flex align-items-center">
        <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative"
            data-aos="zoom-out">
            <img src="~/images/tashRabat1.jpg" class="img-fluid animated">
            <h2>Tash-Rabat: Honoring Silk Road Heritage</span></h2>

        </div>
    </section>

    <main id="main">


        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                </div>

                <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

                    <div class="col-lg-5">
                        <div class="about-img">
                            <img src="~/images/tashRabat.jpg" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7">

                        <!-- Tabs -->
                        <ul class="nav nav-pills mb-6">
                            <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Exploring</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Legends</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">What to See</a></li>
                            <li><a class="nav-link" data-bs-toggle="pill" href="#tab4">How to Get Around</a></li>
                        </ul><!-- End Tabs -->

                        <!-- Tab Content -->
                        <div class="tab-content">

                            <div class="tab-pane fade show active" id="tab1">

                                <p class="fst-italic">Tash-Rabat is a caravanserai, a type of inn along the ancient Silk
                                    Road, in the At-Bashy district of the Naryn region in Kyrgyzstan. The facility is
                                    located on the bank of the winding Tash-Rabat River, a tributary of the Kara-Koyun
                                    River, at an altitude of more than 3,500 meters above sea level.</p>
                                <p class="fst-italic">Tash-Rabat was built in the 15th century on the site of a more
                                    ancient monastery from the 9th to 10th centuries. There are two versions of its
                                    foundation: the first is that the fortress was founded by a khan who wanted to
                                    protect trade caravans from robbers and at the same time contribute to the
                                    development of the country. The second foundation was created by a local rich man,
                                    but the construction of this structure was not completed for unknown reasons.</p>
                                <p class="fst-italic">As Islam spread in Central Asia, the monastery began to decline.
                                    However, the proximity to the Silk Road saw the monastery converted into a
                                    caravanserai</p>
                                <p class="fst-italic">It is believed that Tash-Rabat was a key point when crossing the
                                    Tien Shan, as it not only provided shelter for merchants but also served as a
                                    fortification against robbers. Through Tash-Rabat, trade caravans were sent to the
                                    cities of the Fergana Valley.</p>

                            </div><!-- End Tab 1 Content -->

                            <div class="tab-pane fade show" id="tab2">
                                <p class="fst-italic">There are several legends about this area. Here is one of them.

                                    In ancient times, there lived a powerful khan who had two sons. Despite their
                                    difference in years, both sons pleased their father’s heart, and the old man did not
                                    know whom he preferred most.

                                    One day, the khan called the eldest son to him and said, “I am already old, and the
                                    day is not far when the power in the khanate will pass to you. But so that I can die
                                    in peace, show me, my son, what are you capable of.”

                                    Some time passed, and the eldest son came to his father. “Our khanate is large and
                                    rich,” he began, “but it could have been even richer.”</p>
                                <p class="fst-italic">The khan looked surprised at his son, said nothing, and prepared
                                    to listen further.

                                    “Yes, even richer,” repeated the son. I would send caravans of our goods to foreign
                                    lands and then invite merchants to come to us. I would build a caravanserai in which
                                    everyone would find shelter and hospitality.”

                                    Soon, the old khan died. The eldest son gave all the honors to the deceased and went
                                    with a caravan to foreign lands, and when he returned, he began to prepare for a
                                    meeting with foreign merchants.</p>
                                <p class="fst-italic">He decided to build a caravanserai, which stood for a thousand
                                    years. He gathered the most famous masters from all over his country, and the work
                                    began. Over many years, a stone caravanserai was built. Anyone who saw it was struck
                                    by its beauty and grandeur. The width of the walls was no less than any fortress,
                                    the rooms were spacious, and the main domed hall had three vaulted niches.

                                    The fame of Tash-Rabat—the name of the caravanserai—spread throughout the land, and
                                    many merchants turned off other roads in order to enjoy the hospitality of
                                    Tash-Rabat.

                                    Every year, the khan and his subjects grew richer, but when he died, his younger
                                    brother became khan.</p>
                                <p class="fst-italic">The younger brother had long dreamed of another glory. Having
                                    collected a detachment of soldiers, he attacked peaceful caravans, robbed them, and
                                    gathered the loot in the caravanserai.

                                    Soon the neighboring khans went to war with him.

                                    The khan and his warriors settled in the caravanserai, but the thick stone walls did
                                    not help him. Stronger was his opponent. Warriors were killed, the khan himself was
                                    killed, and the ruins of Tash-Rabat were left alone, like a silent reproach to the
                                    robber-khan.</p>

                            </div><!-- End Tab 2 Content -->

                            <div class="tab-pane fade show" id="tab3">

                                <p class="fst-italic">Tash-Rabat, which means “stone yard,” offers spectacular views and
                                    is set in an impressive landscape similar to Tibet.</p>
                                <p class="fst-italic">In addition to exploring the structure of Tash-Rabat, you can get
                                    acquainted with the nomadic lifestyle of the locals. The local jailooes are
                                    generally overcrowded with livestock, including yaks, cows, horses, and sheep.</p>
                                <p class="fst-italic">Two-day horseback riding tours and trekking tours can also be
                                    taken to Tash-Rabat from Chatyr Kol Lake.</p>

                            </div><!-- End Tab 3 Content -->
                            <div class="tab-pane fade show" id="tab4">

                                <p class="fst-italic">From Bishkek, Tash-Rabat can be reached by regular transport in
                                    about 6 hours. The road is in excellent condition, but there is no regular public
                                    transportation from cities or towns to this tourist complex. However, you can get to
                                    Naryn by public transport, and then organize transport through regional tour
                                    agencies or private taxi services. You can also organize express transport from
                                    Bishkek through a tour company.</p>

                            </div><!-- End Tab 4 Content -->

                        </div>

                    </div>

                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-header">
                </div>

            </div>

            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96603.42630206377!2d75.15848539901029!3d40.831102983161294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389122dec685e133%3A0xf3a2b034643dd631!2z0KLQsNGILdCg0LDQsdCw0YI!5e0!3m2!1sru!2skg!4v1672268850306!5m2!1sru!2skg"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div><!-- End Google Maps -->

        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
@*    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">
                                <img src="images/wanderlust (1).png" alt="Main Page" class="rounded-pill">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <p>
                            Wanderlust<br><br>
                            <strong>Phone:</strong> +996 777 22 12 02<br>
                            <strong>Email:</strong> kanysh150@gmail.com<br>
                        </p>
                    </div>



                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/profile.php?id=100037099418214" class="facebook"><i
                                    class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/___karataeva/" class="instagram"><i
                                    class="bi bi-instagram"></i></a>
                            <a href="https://twitter.com/kanykei__kg?t=RK8ip_mhHiBfAP6gv6QgCQ&s=09"
                                class="google-plus"><i class="bi bi-telegram"></i></a>
                            <a href="https://wa.me/996777221201" class="linkedin"><i class="bi bi-whatsapp"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </footer><!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>*@

</body>

</html>